video {
  width: 99vw;
  height: 99vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(37, 37, 37);
  padding: 0;
  margin: 0;
}

.custom-select, .play, .stop {
  background-color: rgb(37, 37, 37);
  color:antiquewhite;
  opacity: 0.5;
}

.controls {
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  z-index: 1;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.controls:hover {
  opacity: 1.0
}

.transparent {
  opacity: 0.0;
}